*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: pink;
    height: 70px;
    width: 100%;
}
nav{
    background-color: gainsboro;
    height: 200px;
    width: 250px;
    margin: 20px 0 0 150px;
    position: absolute;
    display: none;
}
nav a{
    display: block;
    font-size: 30px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 10px 0 0 20px;
}
nav a:hover{
    background-color: gray;
    height: 20px;
    width: 100%;
    color: #fff;
}
.box-nav{
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin: 15px 0 0 350px;
    position: absolute;
}
/*
.box-nav span{
    color: #fff;
    height: 10px;
    width: 30px;
}
*/
header h1{
    position: absolute;
    color: #fff;
    margin: 10px 0 0 20px;
    font-size: 40px;
}
.container{
    height: 330px;
    width: 100%;
}
.container2{
    height: 100px;
    width: 100%;
}
.circles{
    position: absolute;
    margin: 20px 0 0 5px;
    display: inline-flex;
}
.cir1{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(picha/footcup.jpg);
    background-position: center;
    background-size: cover;
}
.cir2{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(picha/youthtshirt.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.cir3{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(picha/chairandbag.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.cir4{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(picha/friendscup.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.cir5{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(picha/tshirt.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.cir6{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-image: url(picha/cup2.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}
.small-container{
    background-image: url(picha/look.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 200px;
    width: 400px;
    margin: 10px 0 0 10px;
}
.tshirt-container{
    height: 300px;
    width: 100%;
}
.t1{
    height: 120px;
    width: 100px;
    margin: 10px 0 0 10px;
    position: absolute;
    border-radius: 8px;
}
.t2{
    height: 120px;
    width: 100px;
    margin: 10px 0 0 130px;
    position: absolute;
    border-radius: 8px;
}
.t3{
    height: 120px;
    width: 80px;
    margin: 150px 0 0 10px;
    position: absolute;
    border-radius: 8px;
}
.t4{
    height: 120px;
    width: 100px;
    margin: 150px 0 0 130px;
    position: absolute;
    border-radius: 8px;
}
.tshirt-container h1{
    position: absolute;
    margin: 20px 0 0 250px;
    font-size: 30px;
    text-transform: uppercase;
}
.tshirt-container p{
    font-size: 12px;
    margin: 60px 0 0 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    position: absolute;
}
.tshirt-container a{
    position: absolute;
    margin: 230px 0 0 250px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: darkblue;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 4px;
    color: #fff;
    align-content: center;
    font-size: 15px;
    padding-left: 15px;
}
.pics{
    background-color: pink;
    height: 250px;
    width: 100%;
    border-radius: 8px;
}
.pics h3{
    position: absolute;
    margin: 20px 0 0 10px;
    text-transform: capitalize;
}
.pics a{
    position: absolute;
    margin: 20px 0 0 320px;
}
.service-pics{
    display: inline-flex;
    margin: 60px 0 0 10px;
}
.ser1{
    height: 180px;
}
.ser2{
    height: 180px;
    margin-left: 10px;
}
.ser3{
    height: 180px;
    margin-left: 10px;
}
.v-box{
    height: 230px;
    width: 400px;
    margin: 10px 0 0 10px;
}
.v1{
    height: 190px;
    width: 110px;
    background-color: pink;
    border: none;
    border-radius: 8px;
    margin: 10px 0 0 10px;
    position: absolute;
}
.v2{
    height: 190px;
    width: 110px;
    background-color: pink;
    border: none;
    border-radius: 8px;
    margin: 10px 0 0 140px;
    position: absolute;
}
.v3{
    height: 190px;
    width: 110px;
    background-color: pink;
    border: none;
    border-radius: 8px;
    margin: 10px 0 0 270px;
    position: absolute;
}
.service-container{
    height: 350px;
    width: 100%;
}
.service__contain{
    height: 350px;
    width: 100%;
}
.service__contain img{
    height: 300px;
    position: absolute;
    margin: 20px 0 0 210px;
    border-radius: 8px;
}
.service__contain a{
    position: absolute;
    margin: 150px 0 0 10px;
    text-decoration: none;
    background-color: darkblue;
    color: pink;
    height: 30px;
    padding: 5px 0 0 10px;
    width: 100px;
}
.service-container h1{
    position: absolute;
    color: darkblue;
    margin: 50px 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.service-container p{
    position: absolute;
    color: #000;
    text-align: left;
    margin: 80px 0 0 10px;
    max-width: 200px;
    font-size: 12px;
}
.service__contain2{
    background-color: darkblue;
    height: 75rem;
    width: 100%;
}
.service__contain2{
    position: absolute;
}
.service__contain2 li{
    color: #fff;
    margin: 20px 0 0 30px;
}
.service__contain2 img{
    margin: 20px 0 0 13px;
    height: 500px;
}
.what-container{
    height: 300px;
    width: 100%;
    background-color: pink;
}
.brandit-container{
    height: 83rem;
    width: 100%;
}
.boo-container{
    position: absolute;
}
.boo1{
    height: 300px;
    width: 200px;
    margin: 10px 0 0 10px;
    position: absolute;
    background-image: url(picha/white.jpg);
    background-size: cover;
    background-position: center;
}
.boo2{
    height: 300px;
    width: 200px;
    background-image: url(picha/look.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px 0 0 220px;
}
.boo3{
    height: 300px;
    width: 200px;
    background-image: url(picha/girls.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 10px;
    position: absolute;
}
.boo4{
    height: 300px;
    width: 200px;
    background-image: url(picha/friends.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 220px;
}
.boo5{
    height: 300px;
    width: 200px;
    background-image: url(picha/outdoor.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 10px;
    position: absolute;
}
.boo6{
    height: 300px;
    width: 200px;
    background-image: url(picha/stand.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 220px;
}
.boo7{
    height: 300px;
    width: 200px;
    background-image: url(picha/Young\ Person\ in\ Streetwear\ Fashion.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 10px;
    position: absolute;
}
.boo8{
    height: 300px;
    width: 200px;
    background-image: url(picha/Urban\ Streetwear\ Portrait.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px 0 0 220px;
}
.cup-container{
    height: 230px;
    width: 100%;
}
.img1{
    height: 200px;
    margin: 10px 0 0 10px;
    position: absolute;
}
.cup-container p{
    position: absolute;
    margin: 20px 0 0 200px;
    color: #000;
    font-size: 12px;
    max-width: 200px;
}
.cup-container a{
    position: absolute;
    margin: 100px 0 0 200px;
    height: 30px;
    width: 100px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    align-content: center;
    padding-left: 20px;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
}

.design-container{
    height: 300px;
    width: 100%;
}
.design-container h1{
    text-transform: capitalize;
    font-size: 20px;
    margin: 30px 0 0 10px;
    position: absolute;
    max-width: 150px;
}
.design-container p{
    margin: 120px 0 0 10px;
    position: absolute;
    text-transform: capitalize;
    font-size: 20px;
}
.design-container ul{
    position: absolute;
    margin: 150px 0 0 40px;
}
.myDesigns{
    margin-top: 0px;
    position: absolute;
}
.design1{
    position: absolute;
    height: 100px;
    margin: 50px 0 0 170px;
    border: #000 solid 2px;
    border-radius: 0 16px 0 16px;
}
.design2{
    position: absolute;
    height: 100px;
    margin: 50px 0 0 280px;
    border-radius: 16px 0 16px 0;
    border: #000 solid 2px;
}
.design3{
    position: absolute;
    height: 100px;
    margin: 160px 0 0 170px;
    border-radius: 16px 0 16px 0;
    border: #000 solid 2px;
}
.design4{
    position: absolute;
    height: 100px;
    width: 100px;
    margin: 160px 0 0 280px;
    border-radius: 0 16px 0 16px;
    border: #000 solid 2px;
}
footer{
    height: 900px;
    background-color: darkblue;
}
.footer-nav{
    background-color: #fff;
    height: 700px;
    width: 400px;
    position: absolute;
    margin: 80px 0 0 5px;
    border-radius: 8px;
}
.contact{
    background-color: #fffafa;
    height: 200px;
    width: 350px;
    margin: 20px 0 0 20px;
}
.contact h1{
    text-transform: capitalize;
    color: darkblue;
    margin: 20px 0 0 80px;
}
hr{
    width: 300px;
    margin: 20px 0 0 30px;
}
.contact ul{
    margin: 20px 0 0 50px;
}
.contact a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.office{
    background-color: #fffafa;
    height: 200px;
    width: 350px;
    margin: 20px 0 0 20px;
}
.office h1{
    text-transform: capitalize;
    color: darkblue;
    margin: 20px 0 0 70px;
}
.office p{
    margin: 20px 0 0 80px;
    font-size: 20px;
}
.clothing{
    height: 200px;
}
.clothing h1{
    text-transform: capitalize;
    margin: 10px 0 0 130px;
    color: darkblue;
}
.clothing a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 20px; 
}
@media screen and (width:768px) {
    header{
        flex-direction: column;
    }
    nav{
        margin: 10px 0 0 400px;
        display: inline-flex;
        background-color: rgb(9, 9, 39);
        height: 50px;
        width: 350px;
    }
    nav a{
        color: #fff;
        font-size: 20px;
    }
    .box-nav{
        display: none;
    }
    header h1{
        display: none;
    }
    .p-box{
        margin: 10px 0 0 100px;
    }
    .container{
        height: 400px;
        background-image: url(picha/bp-image-bp-growing-marketing-brand-archetypes.jpg);
    }
    .tshirt-container{
        height: 400px;
        width: 100%;
    }
    .tshirt-container img{
        height: 400px;
        margin-top: 20px;
    }
    .tshirt-container p{
        margin: 60px 0 0 400px;
        font-size: 30px;
        max-width: 300px;
    }
    .tshirt-container a{
        margin: 250px 0 0 450px;
        height: 50px;
        width: 200px;
        padding-left: 70px;
    }
    .service-container{
        flex-direction: column;
        width: 100%;
    }
    .service-container img{
        margin: 20px 0 0 550px;
    }
    .service-container h1{
        margin: 50px 0 0 200px;
        font-size: 40px;
    }
    .service-container p{
        margin: 100px 0 0 80px;
        text-align: center;
        max-width: 400px;
    }
    .tshirt-container{
        width: 100%;
        height: 400px;
    }
}